.search-panel {
  width: 100%;
  margin: 30px auto;
  padding: 0 25px 25px;
}

.searchs-container {
  font-size: 17px;
  border-radius: 0;
}

.search-in-searchs {
  position: relative;
}

.search-done {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 15px;
}
